<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Foodly Restaurants</title>
</head>
<style>
    


.in-out:hover{
    background: green;
    color: white;
}

#restaurant{
    margin: -120px 400px 0px 0px;
}
#add{
    margin: -120px 550px 0px 0px;
}
#search{
    margin-left: 1150px;
    
}
#search>form>input{
    height: 30px;
    border-radius: 10px;
    font-size: 20px;

}
#second-page{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#restaurant-container{
    display: flex;
    flex-direction: row;
    max-width: 40%;
    border: 4px solid green;
    padding: 5px 10px;
    border-radius: 9px;
  
}
#restaurant-container>img{
    padding-top: 30px;
}
#restaurant-head{
    margin-top: -50px;
    font-family: 'Cabin Sketch', cursive;
    color: green;
    font-weight: bold;
    font-size: 45px;
}
#add{
    margin-top: -70px;
}

.restaurant-name{
    color: brown;
}
#restaurant{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.view{
    background-color: black;
    color:white;
    border: 1px solid black;
    border-radius: 5px;
}
.view:hover{
    background-color: brown;
}
.next-prev{
    display: flex;
    flex-direction: row;

}
</style>
<body>
       <nav>     
            <h1 >foodlu</h1>

            
            <a href="/restaurants"> <h1 class="item-1 items"> RESTAURANTS</h1></a>
            <a href="/logout"> <h1 class="item-2 items">LOG-OUT</h1></a>
        </nav>
        <div class=logo> <img src="https://i.imgur.com/mngHVw7.png" alt="logo" width="150px" height="140px"> </div>
            <hr>
            <br>

            <div id="search">
                    <form action="/restaurants" method="GET">
                        <input type="text" name="search" placeholder="Search for Restaurants">
                        <button type="submit" class="in-out">GO</button>
                    </form>
                </div>
  
    <% if (user && user.isAdmin) { %>
        <div> <a href="/restaurants/new"> <button id="add">Add a new restaurant</button></a></div>
    <% } %>
    

    <main id="second-page">

    <h1 id="restaurant-head"> All Restaurants</h1><br>

        <% restaurants.forEach(function(restaurant){ %>
            <div id="restaurant-container">
        <div>
            <img src=" <%= restaurant.logoLink %> " height="80px" width="100px" >
        </div>
        <div>
            <h2 class="restaurant-name">&nbsp;&nbsp;<%= restaurant.name %></h2> 
            <hr>
            <p>&nbsp;&nbsp;<%= restaurant.description %> </p>
           <p>📞 &nbsp; <a href="#"> <%= restaurant.phoneNumber%> </a></p> 
          
           <p> 
            <p><%= restaurant.address%>,&nbsp;<%= restaurant.city%>,&nbsp;<%= restaurant.state%>&nbsp;<%= restaurant.zipCode%>
          </p>   <a href="/restaurants/<%=restaurant._id%>"> <button class="view">View Menu </button></a> <a href="<%= restaurant.addressLink%>" target="_blank"> <button class="view">Directions</button> </a>
          <br>
          <br>
          
        </div>
        
    </div>
    <br>
        <br>
 
        <% }); %>
    <%
    var next = page < maxPage ? page+1 : page;
    var pre = page > 1 ? page-1 : 1;
%>
<div class="next-prev">
        <form action="/restaurants" method="GET" class="view">
            <input type="hidden" name="page" value="<%= pre %>">
            <input type="submit" value="pre">
        </form> &nbsp;&nbsp;&nbsp;&nbsp;
    <form action="/restaurants" method="GET" class="view">
        <input type="hidden" name="page" value="<%= next %>">
        <input type="submit" value="next">
    </form>
</div>
</main>
<br>
<br>
<br>
<footer>
        ©Foodly                                                                                                                                                                                       <a href="mailto:gebtraze11@GMAIL.COM" target="_blank">Contact Foodly</a>
    </footer>
</body>
</html>