<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
    <script defer src="/javascripts/editComment.js"></script>
    <title>Menu</title>
</head>
<body>
    <div>
        <a href="/">First Page</a>
        <a href="/restaurants">Restaurants</a>
        <a href="/logout">Logout</a>
    </div> 

        <h1><%= restaurant.name%></h1>
 
        <h3>Menu</h3>   

   
           
<ul>
       <% restaurant.menu.forEach((food, i) => {%>
       <li> <%= food.name%> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Rating: <%= Math.round(food.averageRating * 10)/10 %>/5
           
                   <!-- <button>View Reviews</button> -->
                <ul>
                 
                    <% food.reviews.forEach( review =>{ %>
                        <li class="review-container"><b><%= review.username%>: </b>&nbsp; 
                            <span id='p-<%=review.id%>'><%=review.comment%> </span>

                            <% if (user.name === review.username) { %>
                                <form id="review-form-<%=review.id%>" action="/reviews/<%= food._id%>/<%= review._id%>?_method=PUT" method="POST">
                                    <input class="edit-button" data-id="<%= review.id%>" type="submit" value="Edit">
                                </form>

                                <form id="delete-form" action="/reviews/<%= food._id%>/<%= review._id%>?_method=DELETE" method="POST">
                                    <input id ="delete-button" data-id="<%= review.id%>" type="submit" value="Delete">
                                </form>
                            <% } %>
                        </li>
                    <% })%>
                    
                    <% if (!alreadyReviewed.includes(food._id)) { %>

                    <form action="/food/<%= food.id%>/reviews" method="POST"> 
                        <input type="text" placeholder="Review <%=restaurant.name%>'s <%= food.name%>" name="comment" required>
                        <label>Rating:</label>
                        <select name="rating">
                            <option value="5">5</option>
                            <option value="4">4</option>
                            <option value="3">3</option>
                            <option value="2">2</option>
                            <option value="1">1</option>
                        </select>
                        <input type="submit">
                    </form> 
                    <% } %>
                </ul>
            </li>
      <% })%>
      
    </ul>
</body>

</html>